{{ define "main" }}
<div class="intro">
  <div class="container">
    <div class="row justify-content-start">
      <div class="col-12">
        {{ .Content }}
        {{ partial "call.html" . }}
      </div>
    </div>
  </div>
</div>

{{ $services := where (where .Site.RegularPages "Type" "services") ".Params.featured" true }}
{{if gt (len $services) 0}}
<div class="container pt-6 pb-md-5">
  <div class="row justify-content-start">
    {{ $services := where (where .Site.RegularPages "Type" "services") ".Params.featured" true }}
    {{ range first 6 (sort $services ".Params.weight") }}
    <div class="col-12 col-md-6 mb-1">
      <div class="service service-summary">
        <div class="service-content content">
          <h2 class="service-title">
            {{ .Title }}
          </h2>
          <p>{{ .Content }}</p>
        </div>
      </div>
    </div>
    {{ end }}
  </div>
</div>
{{end}}

{{ end }}
