{{ define "header_css" }}
<link href="https://fonts.googleapis.com/css2?family=Lora:ital@1&display=swap" rel="stylesheet">
{{ end }}

{{ define "main" }}
<div class="intro">
  <div class="container">
    <div class="row justify-content-start">
      <div class="col-4 col-md-6 col-lg-4 main-logo">
        <img src="{{ .Site.Params.logo.standard | relURL }}" alt="">
      </div>
      <div class="col-8 col-md-6 col-lg-4">
        {{ .Content }}
      </div>
      <div class="col-12 col-lg-4">
        {{ partial "call.html" . }}
      </div>
    </div>
  </div>
</div>

{{ $services := where (where .Site.RegularPages "Type" "services") ".Params.featured" true }}
{{if gt (len $services) 0}}
<div class="container pt-6 pb-md-5">
  <div class="row justify-content-start">
    {{ $services := where (where .Site.RegularPages "Type" "services") ".Params.featured" true }}
    {{ range first 6 (sort $services ".Params.weight") }}
    <div class="col-12 col-md-6 mb-1">
      <div class="service service-summary">
        <div class="service-content content">
          {{ if .Params.featureImage }}
            <img src="{{ .Params.featureImage | relURL }}" alt="" class="service-feature">
          {{ end }}
          <h2 class="service-title">
            {{ .Title }}
          </h2>
          {{ .Content }}
        </div>
      </div>
    </div>
    {{ end }}
  </div>
</div>
{{end}}

{{ end }}
